html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 2px solid rgb(51, 18, 128); */
  /* none - щоб забрати рамку */
}

img {
  display: block;
}

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --text-hover-focus: rgba(33, 150, 243, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --main-footer-background-color: rgba(47, 48, 58, 1);
  --white-color: #ffffff;
  --secondary-text-color: rgba(255, 255, 255, 1);
}

/* var(--primary-text-color)  */
/* var(--title-text-color) */
/* var(--text-hover-focus) */
/* var(--footer-text) */
/* var(--main-footer-background-color) */
/* var(--white-color) */
/* var(--secondary-text-color) */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* LOGO */

.webstudio {
  width: 145px;
  height: 31px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.studio {
  color: #2196f3;
}

.list {
  list-style: none;
}

/* NAVIGATION */

.special-link {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--text-hover-focus);
}

.auth-item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-item:hover,
.auth-item:focus {
  color: var(--text-hover-focus);
}

/* HERO */

.main-section {
  background: var(--main-footer-background-color);
  text-align: center;
}

.main-title {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-align: center; */
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.button {
  /* margin-left: auto;
  margin-right: auto; */
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* display: flex;
  align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--text-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* СЕКЦІЯ 1 */

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.section-info {
  color: var(--primary-text-color);
}

.qualities .section-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities .section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

/* СЕКЦІЯ 2 */
.projects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

/* СЕКЦІЯ 3 */
.ourteam-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.ourteam .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.ourteam {
  background: rgba(245, 244, 250, 1);
}

.ourteam .img {
  margin-bottom: 30px;
}

/* ПІДВАЛ*/

.footer {
  background: var(--main-footer-background-color);
}

.webstudio-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo {
  color: var(--white-color);
}

.street {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}

.foooter-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--footer-text);
}

.mmail {
  margin-bottom: 9px;
}
